section.portfolio
	.wrapper

		h2 My 
			span portfolio

		ul.portfolio__list

			li.portfolio__item
				a(href="http://www.smallstash.gg/" target="_blanc")
					.item__photo
						img(src="img/smallstash.png" alt="Photo")
					.item__title SmallStash – A site with a gameplay similar to the game rust (React JS/Python Django)
			li.portfolio__item
				a(href="https://webline.space/projects/rumassa/")
					.item__photo
						img(src="img/ph4.png" alt="Photo")
					.item__title rumassa – online store of steroids <br>(Only HTML&CSS)
			li.portfolio__item
				a(href="https://webline.space/projects/luxuryCars/")
					.item__photo
						img(src="img/cars_germany.png" alt="Photo")
					.item__title Premium cars from Germany <br>(HTML&CSS/Wordpress)
			li.portfolio__item
				a(href="https://webline.space/projects/integra/index.html")
					.item__photo
						img(src="img/integra.png" alt="Photo")
					.item__title INTEGRA 3 – Personal electronic device conducive - correcting posture (HTML&CSS/Wordpress)
			li.portfolio__item
				a(href="https://webline.space/projects/handmade/")
					.item__photo
						img(src="img/handmade.png" alt="Photo")
					.item__title landing page handmade – design and develop digital products (Only HTML&CSS)
