extends includes/head.pug
block body

	body
		//- include includes/header.pug

		section.banner
			.wrapper
				h1 Website developer

		section.contacts
			.wrapper

				h2
					span Contact
					|  me

				ul
					li
						a(href="https://t.me/VZ_Web" target="_blanc")
							b
								i Telegram: 
							span
								u @VZ_Web
					li
						a(href="viber://chat?number=+380988769432" target="_blanc")
							b
								i Viber: 
							span
								u +380 (98) 876 94 32
					li
						a(href="https://wa.me/whatsappphonenumber?text=+380988769432" target="_blanc")
							b
								i WhatsApp: 
							span
								u +380 (98) 876 94 32

		section.about
			.wrapper

				h2 A LITTLE BIT 
					span ABOUT YOURSELF
				.sides.about__sides

					.sides__lft

						p Hello everyone, my name is Vlas,
							span  I am from Ukraine from the city of Kremenchug.
							|  Today, I am engaged in frontend development, namely <b>React JS</b>. I also practice Laravel for backend and flutter for mobile app development.
						p I work in Ukrainian freelance where I am the best frontend developer. So you can safely say that I will do your job and bring it to the final.
						p Giving work to me, you can be sure that everything will be done as it should, and most importantly, on time!
						p I will be glad to cooperate!

						h3 My skills and knowledge for Frontend🧑‍💻:
						ol
							li HTML5
							li PUG
							li CSS3
							li SCSS
							li JavaScript
							li Cross-browser compatibility
							li Adaptive design (from 4K to 320px)
							li React JS
							li Redux
						h3 My skills and knowledge for Backend🧑‍💻:
						ol
							li PHP
							li Laravel
							li Docker
							li RESTful API
							li MySQL
							li Redis
							li Socket.io
							li Eloquent
							li Query
							li Wordpress
					.sides__rht
						img(src="img/photo.png" alt="Photo")

		include includes/portfolio-page.pug



		include includes/footer.pug
		include includes/scripts.pug
